body {
  background: #fbfbfb;
}
.header {
  background: #055de5;
  text-align: center;
  height: 55px;
  color: #fff;
  line-height: 55px;
}
.header .logo img {
  height: 45px;
  position: absolute;
  left: 45px;
  top: 5px;
}
.container {
  width: 60%;
  margin: 40px auto;
  background: #fff;
  border: 1px solid #3ff;
  padding: 12px;
  border-radius: 6px;
}
.model {
  margin: 12px 0;
  padding-bottom: 8em;
}
.row .col-4 {
  width: 21%;
  float: left;
  border: 1px solid #dedede;
  text-align: center;
  cursor: pointer;
  margin-right: 15px;
  overflow: hidden;
}
.row .col-4 img {
  width: 100%;
}
.row .col-4:hover {
  background: #33ffff5d;
}
.color {
  width: 30px;
  height: 30px;
  background: #727272;
  display: block;
  float: left;
  margin-right: 12px;
  border-radius: 50%;
}
.details {
  padding-top: 40px;
}
.inputs label,
.inputs span {
  display: block;
}
.inputs input {
  height: 25px;
  background: #dedede;
  border: 1px solid #dedede;
  outline: 0;
  border-radius: 3px;
  margin: 5px 0;
  width: 200px;
}
.footer {
  text-align: right;
}
