    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    .header {
        background-color: blue;
        height: 50px;
        border-bottom: 1px solid black;
    }
    
    .logo .locart {
        width: 80px;
        margin-top: 15px;
        margin-left: 5px;
    }
    
    .header p {
        text-align: center;
        margin-top: -16px;
        color: white;
    }
    
    .container {
        width: 55%;
        height: 100vh;
        margin: 10px auto;
        padding: 10px 35px;
        border: 2px solid cyan;
    }
    
    .top {
        height: 30vh;
    }
    
    .images {
        padding-left: 25px;
        margin-top: 5px;
    }
    
    .model-y {
        width: 120px;
        margin-left: 25px
    }
    
    .model3 {
        width: 120px;
        margin-left: 20px;
    }
    
    .model-s {
        width: 120px;
        margin-left: 20px;
    }
    
    .model-x {
        width: 120px;
        margin-left: 20px;
    }
    
    .m1 {
        margin-left: 75px;
        float: left;
    }
    
    .m2 {
        float: left;
        margin-left: 95px;
    }
    
    .m3 {
        float: left;
        margin-left: 90px;
    }
    
    .m4 {
        float: left;
        margin-left: 90px;
    }
    
    .mid {
        height: 20vh;
    }
    
    .bot {
        height: 40vh;
    }
    
    .A {
        margin-top: 2px;
    }
    
    .A .in1 {
        background-color: rgb(241, 236, 236);
        border: none;
        outline: none;
    }
    
    .B .in2 {
        background-color: rgb(241, 236, 236);
        border: none;
        outline: none;
    }
    
    .B {
        margin-top: 20px;
    }
    
    .C .in3 {
        background-color: rgb(241, 236, 236);
        border: none;
        outline: none;
    }
    
    .C {
        margin-top: 20px;
    }
    
    .D .in4 {
        background-color: rgb(241, 236, 236);
        border: none;
        outline: none;
    }
    
    .D {
        margin-top: 20px;
    }
    
    .btn {
        background-color: darkgoldenrod;
        height: 7vh;
    }
    
    .btn .button {
        width
    }