body {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background-color: aqua;
}

.container {
    width: 40%;
    margin-left: 5%;
    margin-top: 5%;
    background-color: blue;
}

.container .logo img {
    width: 30%;
}

.container h3 {
    margin-top: 7%;
    font-size: 40px;
}

.container p {
    margin-top: 10px;
}

button {
    background-color: rgb(27, 27, 199);
    color: rgb(255, 241, 241);
    padding: 8px 15px;
    width: 28%;
    border-radius: 7px;
    margin-top: 7%;
    margin-left: 3%;
}

.footer {
    width: 75%;
    height: 50px;
    background-color: chartreuse;
    margin: 0 auto;
}